.forget-main {
    display: grid;
    align-items: center;
    justify-content: center;
}

.forget-box {
    width: 33px;
    height: 33px;
    border: 1px solid black;
    border-radius: 10px;
}

.forget-box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button {
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: #32D34B;
    text-align: center;
}