.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.car-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.cart {
    max-width: 300%;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

:hover.cart{
    background-color: bisque; 
}

.price-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 6px;
    margin-top: -20px;
}

.text-main {
    color: whitesmoke;
}

.rent-title-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rent-search {
    width: 80%;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#name-search{
    width: 80%;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 10px; 
}
#seat-search{
    width: 80%;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 10px; 
}
#price-search{
    width: 80%;
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    margin-bottom: 10px; 
}

.car-rent-button {
    padding: 20px;
    background-color: greenyellow;
    border-radius: 10px;

}

.rent-show{
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}